<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<servlet>
		<servlet-name>routerServlet</servlet-name>
		<servlet-class>yservice.gatewayapi.web.RouterServlet</servlet-class>
		<init-param>
			<param-name>serviceDiscovery</param-name>
			<param-value>http://localhost:8080/yservice-discovery</param-value>
		</init-param>
		<init-param>
			<param-name>processExecutor</param-name>
			<param-value>yservice.gatewayapi.web.processor.DefaultProcessExecutor</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>routerServlet</servlet-name>
		<url-pattern>/route/*</url-pattern>
	</servlet-mapping>

</web-app>
